<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALL Users</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid black;
        padding: 5px;
      }
      th {
        text-align: left;
      }
      a {
        text-decoration: none;
        color: black;
      }
      form {
        display: inline-block;
      }


    </style>
  </head>
  <body>
    <button>
      <a href="/">Back to Home</a>
    </button>
    <button>
      <a href="/users/new">Create New Users</a>
    </button>
    <br />
    <br />
    <h1>All Users</h1>
    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i<users.length; i++) { %>
          <tr>
            <td><%= i+1 %> | &nbsp; &nbsp; <%=users[i].id %></td>
            <td><%=users[i].name %></td>
            <td><%=users[i].email %></td>
            <td>
              <button><a href="/users/<%= users[i].id %>">View -></a> |</button>
              <button><a href="/users/<%= users[i].id %>/edit">Edit</a> |</button>
              <button><a href="/users/<%= users[i].id %>/delete">Delete</a></button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
